{% extends "portfolio/base.html" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1 class="display-4 fontTitle">{{ object.portfolio_name }}</h1>
        </div>
        <div class="col-2">
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'portfolio-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'portfolio-delete' object.id %}">Delete</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">{{object.description}}</p>  
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
            <small class="text-muted">Created: {{ object.date_added|date:"F d, Y" }}</small>
        </div>
      </div>
    </div>
  </div>

  {% for position in object.position_set.all %}

  <div class="row positionWrapper">
      <div class="col-2">
        <h1 class="fontTitle">{{ position }}</h1>
      </div>
      <div class="col-2">
        {% if position.transaction_type == 'BUY' %}
          Quantity: {{position.shares}}
        {% else %}
          Quantity: -{{position.shares}}
        {% endif %}
      </div>
      <div class="col-2">
        Price: {{position.price}}
      </div>
      <div class="col-2">
        Commission: {{position.commission}}
      </div>
      <div class="col-2">
        Book value: $BOOKVALUE
      </div>
      <div class="col-2">
          <i class="far fa-edit"></i>
      </div>
  </div> <!-- row -->
  <br>

    


  {% endfor %}




{% endblock content %}