{% extends "portfolio/base.html" %}
{% block content %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <h1 class="display-4 fontTitle">{{ object.portfolio_name }}</h1>
        </div>
        <div class="col-2">
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'portfolio-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'portfolio-delete' object.id %}">Delete</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="lead">{{object.description}}</p>  
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
            <small class="text-muted">Created: {{ object.date_added|date:"F d, Y" }}</small>
        </div>
      </div>
    </div>
  </div>

  <!-- CARDS ---------------------------------------------------------------------------------->
<div class="card text-center">
  <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
          <a class="nav-link" href="#overview" id="navOverviewCard">Overview</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="#positions" id="navPositionssCard">View Positions</a>
      </li>
      </ul>
  </div>

  <!-- CARD BODY ---------------------------------------------------------------------------------->
  <div class="card-body">
    <!-- OVERVIEW CARD ---------------------------------------------------------------------------------->
    <div id="OverviewCard" style="display: none;">
        <p style="text-align: left;"> OVERVIEW</p>    
    </div>  
    
    <!-- POSITIONS CARD ---------------------------------------------------------------------------------->
    <div id="positionsCard">
      {% for position in object.position_set.all %}
      
      <div class="row positionWrapper">
          <div class="col-2">
            <h3>{{ position|upper }}</h3>
          </div>
          <div class="col">
            {% if position.transaction_type == 'BUY' %}
              Quantity: {{position.shares}}
            {% else %}
              Quantity: -{{position.shares}}
            {% endif %}
          </div>
          <div class="col">
            AVG cost: {{position.price}}
          </div>
          <div class="col">
            {% for symbol in rtQuotes %}
              {% if forloop.counter == forloop.parentloop.counter %}
                Price: {{symbol.0.close}}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col">
            Commission: {{position.commission}}
          </div>
          <div class="col">
            Book value: {{position.book_value}}
          </div>
          <div class="col">
            {% for symbol in rtQuotes %}
              {% if forloop.counter == forloop.parentloop.counter %}
                Market Value: {{symbol.2}}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col">
            {% for symbol in rtQuotes %}
              {% if forloop.counter == forloop.parentloop.counter %}
                Change: {{symbol.3}}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col">
            {% for symbol in rtQuotes %}
              {% if forloop.counter == forloop.parentloop.counter %}
                Change %: {{symbol.4}}%
              {% endif %}
            {% endfor %}
          </div>
          <div class="col">
              <i class="far fa-edit"></i>
          </div>
      </div> <!-- row -->
      <br>
      {% endfor %}
  

    </div> <!-- financials card -->

  </div> <!-- card body -->

</div><!-- card -->

<br>





  

  




{% endblock content %}