/* RESEARCH HERO BANNER  ---------------------------------------------------------------------------- */ 
.jumbotron{
    padding-top:0px;
    background-color:#79FEFF;
    border-radius:5px;
    border: 1px groove black;
  }
  
.companyTitle{
    font-family: 'Impact', sans-serif;
    font-size:44px;
}

.priceSummaryInfo{
  font-size:12px;
  top: -1rem;
}

#currPrice{
  font-family: 'Impact', sans-serif;
  font-size:24px;
}

#currPriceChange{
  font-family: 'Impact', sans-serif;
  font-size:18px;
  color:#00D23E;
}

#currPriceChangeDown{
  font-family: 'Impact', sans-serif;
  font-size:18px;
  color:#FF3E22;
}

#quoteDate{
  font-size:10px;
  text-align: right;   
  top: -1rem;
}


/* this still being used??? */ 
.positionWrapper{
  background-color:#65EDFF;
  border-style: groove;
  margin: auto;
  border-radius: 5px;
  border: 2px solid black;

}

/* TABLES ---------------------------------------------------------------------------- */ 
.tableDates{
  font-weight:bold;
  font-size:14px;
  
}

.tableDesign{
  border:2px inset black;
  border-radius:5px;
  font-family: 'Oswald', sans-serif;
}

.dataTables_scroll{
    overflow:auto;
}

tbody td.col-1{
  text-align: right;
}

td.col-1, th.col-1{
  min-width:150px;
  max-width:150px;
}

tbody th {
  text-align: left;   
}

table{
  font-size:12px;
}
